*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green: #144632;
  --red: #b41e1e;
  --gray: #c8c8c8;
  --dark-gray: #333;
  --white: #ffffff;

  --roxo-moderno: #4F46E5;
  --verde-base: #22C55E;
  --branco-fundo-1: #F4F4FD;
  --branco-fundo-2: #F8F8FE;
}

body {
  background-color: var(--branco-fundo-1);
  color: var(--verde-base);
  font-family: inherit;
}
